body {
    background: radial-gradient(circle, rgb(0, 255, 0) 0%, rgba(253,230,45,1) 100%);
}
#start {
    background-color: rgb(146, 130, 255);
    width: 500px;
    margin-left: 30px;
}
#ht2 {
    width: 500px;
    margin-left: 20px;
}
#ht1 {
    width: 300px;
}